.about {
    display: flex;
    flex-direction: column;  
    height: 100%;
    width: 100%;
    padding-left: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px;
    line-height: 1.5;
    background-color: #212121;
    border-radius: 20px;
}

.about > h2 {
    font-size: 36px;
    font-weight: 700;  
    text-align: center;
    margin-top: 30px;  
}

.about_Container { 
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0.5;
    margin-top: 2em;    
}

.about_Me {  
    flex: 0.7;
    width: 100%;    
    height: 75%;     
}


.about_Me p {
    overflow-wrap: break-word;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
   
    margin-left: 10px;
    margin-right: 10px;
}

.about_Me p a {
    color: #fff;
    text-decoration: underline;
}

.about_Me p a:hover {
    color: #A32424;
    text-decoration: underline;
}

.about_Info {
    display: flex;
    flex-direction: column;
       
}

.about_Info_Headings {
    flex: 0.5;
    display: flex;
    flex-direction: column;   
    margin-top: 30px; 
    margin-left: 20px;
    margin-right: 10px;    
    
}

.about_Info_Headings > p {
    margin-bottom: 5px;
}


.tech {
    
    margin-left: 20px;
    margin-bottom: 30px;
    
}

.tech > img {
    margin-right: 5px;
}

.about_Tech > h3{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;    
    font-size: 18px;
    color: #A32424;
    margin-bottom: 10px;
    margin-top: 30px;
}


.about_Info_Heading {
    font-weight: 700;
    color: #A32424;
    width: 100px;
    margin-right: 10px;    
}
    
.about_Info_Heading + a {        
    color: #f5f5f5;    
    text-decoration: underline; 
}


/* width */
::-webkit-scrollbar {
    width: 6px;    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #707070;
    border-radius:3px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A32424;
    border-radius:3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A32424;
    border-radius:3px;
  }


@media only screen and (min-width: 1025px) {

    .about {        
        padding-left: 40px; 
        padding-right: 40px; 
        padding-bottom: 40px;
        line-height: 1.8;
        background-color: transparent;
        border-radius: 0;
    }


    .about > h2 {
        font-size: 36px;
        font-weight: 700;  
        text-align: left;  
        margin-top: 0;        
    }

    .about_Info_Headings > p {
        margin-bottom: 0;
    }
    

    .about_Container {
        display: flex;
    
    }

    .about_Info_Heading {
        font-weight: 700;
        color: #A32424;
        width: 100px;
        margin-right: 10px;
    }
        
    .about_Info_Heading + a {
        text-decoration: underline;    
        color: #f5f5f5;    
    }
    
    .about_Info_Heading + a:hover {    
        color: #A32424;       
    }
    
    .link_Arrow {        
        object-fit: contain;
        height: 15px !important;
        width: 15px !important;
    }  
    
    
    .about_Me {       
        
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        height: 81%;
        direction: rtl;
    }


    .about_Me p {        
        margin-bottom: 18px;
        padding-right: 20px;
        padding-left: 10px;
        direction: ltr;        
    }

    .about_Info { 
        display: flex;
    }
    
    
    .about_Info_Headings {      
        margin-left: 0;
        margin-right: 0; 
        flex: 0.5; 
    }


    
    .about_Tech {
        flex: 0.5;

    }

    
    .about_Tech > h3{        
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
                 
    }


    .tech {
        margin-left: 0;   
        margin-bottom: 0;    
    }
}