.about {
    display: flex;
    flex-direction: column;  
    height: 100%;
    width: 100%;
    padding-left: 40px; 
    padding-right: 40px; 
    padding-bottom: 40px;
    line-height: 1.8;
}

.about > h2 {
    font-size: 36px;
    font-weight: 700;    
}

.about_Container {
    display: flex;
    justify-content: space-between;
    flex: 0.5;
    margin-top: 2em;
    
}

.about_Me {  
    width: 60%;
    overflow: scroll;
    overflow-x: hidden;
    height: 75%;
    direction: rtl;
}


.about_Me p {
    overflow-wrap: break-word;
    margin-bottom: 6px;
    padding-right: 20px;
    padding-left: 10px;
    direction: ltr;
    margin-left: 10px;
    margin-right: 10px;
}

.about_Right {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.about_Right_Top {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    
    width: 250px;
    height: 150px;
}

.about_Right_Top a {
    text decoration: none;
)
    
.tech > img {
    margin-right: 5px;
}

.about_Right_Bottom > h3{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    font-size: 18px;
    color: #A32424;
    margin-bottom: 10px;
}


.about_Info_Heading {
    font-weight: 700;
    color: #A32424;
    width: 100px;
    margin-right: 10px;
}



/* width */
::-webkit-scrollbar {
    width: 6px;    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #707070;
    border-radius:3px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A32424;
    border-radius:3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #A32424;
    border-radius:3px;
  }
