.window {
    height: 86%;
    width: 60%;
    background-color: #212121;
    border-radius: 20px;    
    display: flex;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3), 0 12px 16px 0 rgba(0, 0, 0, 0.28) ;
}