/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  height: 100%;
  background-color: #cfcfcf;
}

/* .tooltip {
  display: none;
  visibility: hidden; 
} */

@media only screen and (min-width: 1025px) {
  .app {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg,#212121, #c5c5c5, #440e0e, #707070);
    background-size: 500% 500%;
    position: relative;
    animation: change 20s ease-in-out infinite;
    overflow: hidden;
  }
  /* #2b1212 */
    
  @keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }


  .tooltip {
    position: relative;  
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
